.Admin {
    height: 100%;
}

.Admin .ant-layout {
    height: 100%;
}

.Admin .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.Admin .trigger:hover {
    color: #1890ff;
  }
  
.Admin .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.Admin .logo p {
    height: 32px;
    margin: auto;
    text-align: center;
    line-height: 32px;
    color: aliceblue;
}
